<!-- Sidebar Toggle Button -->
<header class="header">
    <div class="logo">BBH - Angular</div>
    <nav class="nav">
      <ul>
        <li><a routerLink="/dashboard" routerLinkActive="">Dashboard</a></li>
        <li><a routerLink="/view-dietry" routerLinkActive="">Dietry</a></li>
      </ul>
    </nav>
  </header>

<!-- <button pButton type="button" icon="pi pi-bars" (click)="visible = true"></button> -->

<!-- PrimeNG Sidebar -->
<!-- <p-sidebar [(visible)]="visible" [baseZIndex]="10000">
  <h3>Menu List</h3>
  <p-menu [model]="menuItems"></p-menu>
</p-sidebar> -->


