
<div style="
    margin-left: 71rem;"><p-button label="Add Student" />
</div>
<div class="dashboard" tyle="
margin-top: 10px;">
    <p-table [value]="profiles" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Age</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-profile>
          <tr>
            <td>{{ profile.studentname }}</td>
            <td>{{ profile.age }}</td>
          </tr>
        </ng-template>
      </p-table>
</div>

  